[ALU REPORT](https://mirafra2-my.sharepoint.com/:w:/g/personal/vasanjayakumar_mirafra2_onmicrosoft_com/IQDKqJddLCMYSq75gtQMlJliAZviP-lzwWCSUyPMSjnz6fs?e=qKrH62)
